body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

input[type="file"] {
    margin: 10px 0;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.results {
    margin-top: 20px;
}

.color-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.color-info .color {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.color {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.palette {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

img {
    margin-top: 20px;
    max-width: 300px;  /* Adjust the max-width as needed */
    max-height: 300px; /* Adjust the max-height as needed */
    width: auto;       /* Ensures the aspect ratio is maintained */
    height: auto;      /* Ensures the aspect ratio is maintained */
    border-radius: 8px;
    object-fit: cover; /* Optional: crops image to fit the dimensions if necessary */
}
